
._backup_localhost.py
._css
._example_table_data.html
._dashboard.css
._index.html
._js
._table_gen_test.html
js/._.DS_Store
js/._bootstrap.min.js
js/._popper.min.js
css/._.DS_Store
css/._bootstrap.min.css
css/._custom_styles.css
._project_view.html
js/._data.json
js/._project_view.js
js/._data_handler_and_search.js
js/._theme_handler.js
screenshots/._another_project_view.png
screenshots/._full_word_search.png
screenshots/._mobile_view.png
screenshots/._project_view_dark.png
screenshots/._partial_word_search.png
screenshots/._project_view_light.png
screenshots/._dark_mode.png
screenshots/._light_mode.png
js/zarchive/._data_handler_and_search.js
._json_search_demo_vid.mov
._help.html
js/._transitions.js
